body, *, *:before, *:after {
	box-sizing: border-box;
}

html, body {
	font-family: "Helvetical Neue", Helvetical,sans-serif, Arial;
	font-size: 16px;
	color: #474747; 
}

h1, h2, h3, h5, h6, .title {
	font-family: 'Economica', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0 0 1em;
}

h2 {
	font-size: 1.6rem;
}

h3 {
	font-size: 1.2rem; 
}

a {
	color: inherit;
	font-weight: bold;
	text-decoration: none;
}
a:hover, a:active, a:visited {
	color: inherit;
	text-decoration: none;
}

p {
	font-family: "Economica", sans-serif;
	margin: 0.5em 0;
	line-height: 1.1; 
	font-weight: bold;
}

.clearfix:after ,
.clearfix:before {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}


.fixed-width {
	width: 940px;
	margin: 0 auto;
}

.blog-containt {
	margin-top: 2em; 
}

/*__________
	header
____________*/


.page-header {
	border-top: 5px solid #ebebeb; 
}
	.page-header > div {
		position: relative;		
	}

	.page-header .identity {
		font-family: 'Pacifico',cursive;
		font-size: 3rem;
		padding-top: 3rem;
		position: absolute;
		bottom: 0;
	}
	.page-header nav {
		float: right;
		font-family: 'Economica',sans-serif;
		text-transform: uppercase;
	}
	.page-header nav li {
		
		float: left;
		color: #bfbfbf;
		margin-right: 3rem; 
		padding-top: 3rem;
	}
	.page-header nav :last-child {
		margin-right: 0rem;
	}
	.page-header nav li em {
		display: block;
		color: #474747;
		font-size: 1.6rem;
	}

	.page-header img {
		padding-top: 3rem;
	}


/*main section*/
.main-visual {

}
	.main-visual figcaption {
		background-color: #f6f6f6;
		padding: 0.5em 1em;
	}
	.main-visual > img {
		display: block;
	}
	.main-visual > figcaption > strong {
		font-size: 1.4em;
	}
/*===================
	claims
======================*/
.claim {
	width: 33.3%;
	padding-right: 5%;
	float: left;
	}
	.claim:last-child {
		margin-right: 0; 
	}
	.claim header > i {
		font-size: 2.5rem;
		font-weight: bold;
		color: #9a9a9a;
		width: 25%;
		float:left;
	}
	.claim header > h2 {
		float: left;
		width: 75%;
	}

/*
portfolio
*/

.portfolio {
	position: relative;
}
.portfolio:before {
	content: " ";
	display: block;
	background: url(../image/Top-Line.png) repeat;
	height: 1.5rem;
}

.portfolio .title-wrapper {
	position: absolute;
	top: 0;left: 0;right: 0;
	text-align: center;
}

.title-wrapper h2 {
	display: inline;
	background-color: #fff;
	padding: 0 1rem;
}

.work {
	width: 22%;
	float: left;
	margin-right: 4%;
	padding-top: 3rem;
}

.work:last-child {
	margin-right: 0; 
}

/*
footer area
*/

.page-footer {
	color: #9b9b9b;	
	background-color: #f4f4f4;
	height: 70px; 
	font-size: 1rem;
}
	.page-footer:before{
		content: " ";
		height: 17px;
		display: block;
		background: url("../image/Top-Line.png") left top repeat-x;
	}
	.page-footer .page-footer-contet {
		padding: 1em 0;
	}
	.page-footer span {
		color: #bfbfbf;
	}
	.page-footer span em {
		color: #b2b2b2;
	}
	.pate-footer .copyright {
		float: left;
	}
	footer .author {
		float: right;
	}
